img {
    /*display: block;*/
    max-width: 250px;
    margin: 25px;
}

span {
    margin-left: 50px;
    font-family: Roboto;
}

.imgspotify{
    max-width: 50px;
    margin-left: 125px;
}
